---
import Layout from "../layouts/Layout.astro";
import { buttonVariants } from "@/components/ui/button";
import Button from "@/components/Button.astro";
import { Image } from "astro:assets";
import src from "src/assets/bluewater.jpg";
import SectionMore from "@/components/SectionMore.astro";
import Footer from "@/components/Footer.astro";
import SectionFAQ from "@/components/SectionFAQ.astro";
import Banner from "@/components/Banner.astro";
import SectionContact from "@/components/SectionContact.astro";
import SectionServices from "@/components/SectionServices.astro";
import SectionCustomerQuotes from "@/components/SectionCustomerQuotes.astro";
import MapComponent from "@/components/MapComponent.astro";
---

<Layout title="Welcome to Astro.">
	<main class="h-screen">
		<div class="hero-image">
			<!-- <BackgroundImage src={src} alt="background image of water"/> -->
			<Image src={src} alt="Background image of water" />
			<div class="hero-text">
				<h1>Water bore & GeoTech Drilling Specialists</h1>
			</div>
		</div>
		<SectionMore />
		<Banner />
		<SectionServices />
		<SectionCustomerQuotes />
		<MapComponent />

		<SectionFAQ />
		<SectionContact />
		<!-- <div class="flex justify-center mt-64">
			<a class={`${buttonVariants({ variant: "default" })}`} href="/page2"
				>Page 2</a
			>
		</div> -->
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		height: 100%;
		/* margin: auto;
		padding: 1rem; */
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */

		/* font-size: 16px;
		line-height: 1.6; */
	}
	h1 {
		font-weight: 200;
	}

	/* media queries */
	@media screen and (min-width: 320px) {
		h1 {
			font-size: 3.5rem;
		}
	}
	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid hsl(var(--border), 25%);
		background: linear-gradient(
			hsl(var(--accent-foreground) / 66%),
			hsl(var(--accent-foreground) / 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: hsl(var(--accent-foreground), 12%);
		color: hsl(var(--muted));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	/* .hero-image {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("");
		height: 50%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	} */
	.hero-text {
		/* text-align: center; */
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
		font-size: 2rem;
		color: white;
	}
</style>
