<section class="section-banner">
	<div class="banner-image"></div>
	<div class="banner-content"></div>
</section>

<style>
	.section-banner {
		display: flex;
		margin: 4rem 0rem;
	}
	.banner-image {
		width: 40%;
		height: 450px;
		background-color: hsl(var(--light-blue));
	}
	.banner-content {
		width: 60%;
		height: 450px;
		background: hsl(var(--teal));
	}
</style>
