<div class="section-customers">customer quotes tbc</div>

<style>
	.section-customers {
		padding: 4rem 6rem 8rem 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 500px;
		background-color: hsl(var(--light-blue));
		color: hsl(var(--dark-navy));
		margin: 4rem 0rem;
	}
</style>
